# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# JetBrains IDEs
.idea/

# Static site generator output
_site/
public/

# Cache directories
.cache/

# Logs
*.log

# Temporary files
*.tmp

# Ignore cached Sass stylesheets if you use Sass.
.sass-cache

# Ignore the Gemfile lock file, which is generated to manage gem dependencies.
Gemfile.lock

# Ignore any Ruby gem files.
*.gem

# Ignore Jekyll cache directory.
.jekyll-cache
